@-moz-document url-prefix("https://www.instagram.com/") {

	@include fonts-group();
	@include root-sans-font();

	:root,
	body,
	button,
	input,
	label,
	select,
	td,
	textarea,
	._ar45,
	.__fb-light-mode:root,
	.__fb-light-mode, {
		--font-family-system: var(--font-sans);
		--font-family-apple: var(--font-sans);
	}

	:root,
	.__fb-light-mode:root,
	.__fb-light-mode {
		--section-width: 700px;
		--nav-medium-width: 244px;
		--nav-wide-width: 244px;
	}

	.x1ykew4q {
		max-width: 1440px;
	}

	.xh8yej3 {
		max-width: 100% !important;
	}

	.x4h1yfo {
		width: 720px;
	}

	section > main > div > div.x6s0dn4.x78zum5.xdt5ytf.xdj266r.xkrivgy.xat24cr.x1gryazu.x1n2onr6.xh8yej3 > div {
		flex-direction: row !important;
		align-items: flex-start;

		> div.x4h1yfo {
			width: var(--section-width) !important;

			> div > div.x5yr21d.xw2csxc.x1odjw0f.x1n2onr6 > div {
				position: relative !important;
				max-height: 70vh !important;
				overflow-y: scroll !important;
			}
		}
	}

	.x1qjc9v5 {
		--font-family-system: var(--font-sans) !important;
	}

	.x1l895ks[data-pressable-container="true"] {

		&:not(:last-child) {
			max-height: 110px;
			margin-bottom: 10px;
			border-bottom: 1px solid #ddd;
		}

		> .x1iyjqo2 {
			overflow: hidden;
		}

		> .x1iyjqo2 > span {
			max-height: 90px;
		}
	}

	form:has(textarea[aria-label="Add a comment…"]) {
		padding: 10px 12px;
		padding-right: 6px;
		border-radius: 4px;
		border-color: #b9b9b9;
		outline: 0;
		background-color: #fff;
		box-shadow: 0 0 0 0.1rem rgb(0 0 0 / 8%);
	}
}
