@use "mixins";

@document regexp("^(https?:\\/\\/)?(www\\.)?(.*)(\\/(wp-admin|backoffice|wp-login\\.php)(.*))$"),
	regexp("^(https?://)(192.168.1)(.*)"),
	regexp("^https://(.*)(mailtrap.io)(.*)"),
	regexp("^https://(.*)(netlify.com|nextui.org|vercel.com)(.*)"),
	regexp("^https://(.*)(discord.com|dropbox.com)(.*)"),
	regexp("^https://(.*)(vimeo.com)(.*)"),
	regexp("^https://(.*)(cloudflare.com|cloudways.com)(.*)"),
	regexp("^https://(.*)(basecamp.com|clickup.com|zipbooks.com)(.*)"),
	regexp("^https://(.*)(cpsess)(.*)"),
	domain("127.0.0.1") {
  @include mixins.init-root-font-aliases;

  // Apply font to various elements
  html,
  body,
  a,
  #wpadminbar *,
  body.wpallimport-plugin {
    @include mixins.apply-font-sans;
  }

  // Headings
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @include mixins.apply-font-sans;
  }

  // Code Blocks
  .code,
  code {
    @include mixins.apply-font-mono;
  }

  // Buttons and Inputs
  .button,
  input,
  select,
  textarea {
    @include mixins.apply-font-sans;
  }

  // Navigation
  #primary-navigation li,
  #primary-navigation li a {
    @include mixins.apply-font-sans;
  }

  // Content Blocks
  .comment-bar__send-btn,
  .cron-job-tab2 h4,
  .single-title,
  .widget .widget-title {
    @include mixins.apply-font-sans;
  }

  // Text and Typography
  .markdown-body,
  .md-subheader,
  .ql-container {
    @include mixins.apply-font-sans;
  }

  // Media and UI Elements
  .yith-plugin-ui,
  .media-frame,
  .media-modal {
    @include mixins.apply-font-sans;
  }

  // Elements with Specific Class Patterns
  [class*="c_"],
  [class*="tinvwl-"],
  [class*="tinv-"],
  [class*="tinvwl-"] *,
  [class*="tinv-"] * {
    @include mixins.apply-font-sans;
  }

  // Maestro Styles
  .maestro {
    body:not(.dig-Button),
    input:not(.dig-Button),
    textarea:not(.dig-Button),
    select:not(.dig-Button),
    button:not(.dig-Button),
    .normal:not(.dig-Button) {
      @include mixins.apply-font-sans;
    }
  }

  // Style for CodeMirror
  .qm code,
  .qm pre {
    @include mixins.apply-font-mono(true);
  }

  // CodeMirror style
  .cm-s-darcula.CodeMirror,
  .CodeMirror {
    @include mixins.apply-font-mono;
  }

  // Markdown code formatting
  .markdown-body {
    code,
    pre {
      @include mixins.apply-font-mono;
    }

    pre > code {
      white-space: pre-wrap;
    }

    ol,
    ul {
      ol {
        list-style-type: decimal;
      }
    }
  }

  // Simplenote app fonts
  .simplenote-app {
    * {
      @include mixins.apply-font-sans;
    }

    code,
    code * {
      @include mixins.apply-font-mono;
    }
  }

  body.woocommerce_page_wc-settings .nav-tab-wrapper a,
  .wc-addons-wrap h1.search-form-title,
  .wc-addons-wrap .addon-product-group-title,
  .wc-addons-wrap .current-section-dropdown__title,
  .wc-addons-wrap .products li .product-details .product-developed-by,
  .wc-addons-wrap .products li .product-footer .product-reviews-block .product-reviews-count,
  #order_data h2,
  #order_data p.order_number,
  .wc-metaboxes-wrapper .wc-metabox h3 select,
  .woocommerce-reports-wide .postbox .chart-legend li strong,
  .woocommerce-reports-wrap .postbox .chart-legend li strong {
    @include mixins.apply-font-sans;
  }
}

@document regexp("^https://(.*)(.test)(.*)")
{
  @include mixins.set-root-font-sans;

  #wpadminbar,
  #wpadminbar * {
    @include mixins.apply-font-sans;
  }
}
