@use "mixins";

@document regexp("^(https?://)(192.168.1)(.*)"),
	regexp("^https://(.*)(mailtrap.io)(.*)"),
	regexp("^https://(.*)(netlify.com|nextui.org|vercel.com)(.*)"),
	regexp("^https://(.*)(discord.com|dropbox.com)(.*)"),
	regexp("^https://(.*)(vimeo.com)(.*)"),
	regexp("^https://(.*)(cloudflare.com|cloudways.com)(.*)"),
	regexp("^https://(.*)(basecamp.com|clickup.com|zipbooks.com)(.*)"),
	regexp("^https://(.*)(cpsess)(.*)"),
	domain("127.0.0.1") {
  @include mixins.init-root-font-aliases;

  // Apply font to various elements
  html,
  body {
    @include mixins.apply-font-sans;
  }

  // Maestro Styles
  .maestro {
    body:not(.dig-Button),
    input:not(.dig-Button),
    textarea:not(.dig-Button),
    select:not(.dig-Button),
    button:not(.dig-Button),
    .normal:not(.dig-Button) {
      @include mixins.apply-font-sans;
    }
  }

  // Markdown code formatting
  .markdown-body {
    code,
    pre {
      @include mixins.apply-font-mono;
    }

    pre > code {
      white-space: pre-wrap;
    }

    ol,
    ul {
      ol {
        list-style-type: decimal;
      }
    }
  }

  // Simplenote app fonts
  .simplenote-app {
    * {
      @include mixins.apply-font-sans;
    }

    code,
    code * {
      @include mixins.apply-font-mono;
    }
  }
}
