@use "../mixins";

@document domain("wordpress.org") {
  @include mixins.set-root-font-sans;
  @include mixins.set-root-font-mono;

  #wpadminbar,
  :root,
  body,
  .global-footer,
  .global-header,
  .global-header__alert-banner {
    /* stylelint-disable custom-property-pattern */
    --wp--preset--font-family--inter: var(--font-sans);
    --wp--preset--font-family--eb-garamond: var(--font-sans);
    --wp--preset--font-family--ibm-plex-sans: var(--font-sans);
    --wp--preset--font-family--monospace: var(--font-mono);
    /* stylelint-enable custom-property-pattern */
  }

  #bbpress-forums {
    div.bbp-reply-content,
    div.bbp-topic-content {
      pre,
      code {
        @include mixins.apply-font-mono;
      }
    }
  }
}
