@use "mixins";
@use "sass:color";

@document regexp("^(https?:\/\/)?(www\.)?(.*)(\/(wp-admin|backoffice|wp-login\.php)(.*))$"),
regexp("^https://(.*)(.test)(.*)")
{
  @include mixins.set-root-font-sans;
  @include mixins.set-root-font-mono;

  // Base elements
  body.wp-admin,
  body.wp-admin a,
  #wpadminbar *,
  body.wpallimport-plugin {
    @include mixins.apply-font-sans;
  }

  // WordPress admin bar
  #wpadminbar,
  #wpadminbar * {
    @include mixins.apply-font-sans;
  }

  // WooCommerce logs
  .wc-logs-entries {
    @include mixins.apply-font-mono;
  }

  body.wp-admin {
    // Code elements
    pre,
    samp,
    kbd,
    code,
    kbd,
    .code {
      --theme-font-family: var(--font-mono);

      @include mixins.apply-font-mono;
    }

    // Content blocks
    .comment-bar__send-btn,
    .cron-job-tab2 h4,
    .single-title,
    .widget .widget-title,
    .markdown-body,
    .md-subheader,
    .ql-container,
    #primary-navigation li,
    #primary-navigation li a {
      @include mixins.apply-font-sans;
    }

    // Headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    input,
    select,
    textarea,
    .button {
      @include mixins.apply-font-sans;
    }

    // Code blocks
    code,
    .code,
    .cm-s-darcula.CodeMirror,
    .CodeMirror {
      @include mixins.apply-font-mono;
    }

    // CodeMirror
    .qm code,
    .qm pre {
      @include mixins.apply-font-mono(true);
    }

    // UI elements
    .yith-plugin-ui,
    .media-frame,
    .media-modal {
      @include mixins.apply-font-sans;
    }
  }

  // WooCommerce elements
  #order_data h2,
  #order_data p.order_number,
  body.woocommerce_page_wc-settings .nav-tab-wrapper a,
  .wc-addons-wrap h1.search-form-title,
  .wc-addons-wrap .addon-product-group-title,
  .wc-addons-wrap .current-section-dropdown__title,
  .wc-addons-wrap .products li .product-details .product-developed-by,
  .wc-addons-wrap .products li .product-footer .product-reviews-block .product-reviews-count,
  .wc-metaboxes-wrapper .wc-metabox h3 select,
  .woocommerce-reports-wide .postbox .chart-legend li strong,
  .woocommerce-reports-wrap .postbox .chart-legend li strong,
  [class*="c_"],
  [class*="tinvwl-"],
  [class*="tinv-"],
  [class*="tinvwl-"] *,
  [class*="tinv-"] *,
  .nfd-widget-lighthouse .nfd-root,
  .nfd-root,
  .nfd-reset-page {
    @include mixins.apply-font-sans;
  }

  body.wp-admin {
    input[type="color"],
    input[type="date"],
    input[type="datetime-local"],
    input[type="datetime"],
    input[type="email"],
    input[type="month"],
    input[type="number"],
    input[type="password"],
    input[type="search"],
    input[type="tel"],
    input[type="text"],
    input[type="time"],
    input[type="url"],
    input[type="week"],
    select,
    textarea,
    input[type="checkbox"],
    input[type="radio"],
    .wp-core-ui select {
      border-radius: 0;
    }

    #dashboard-widgets .postbox {
      border-radius: 0;
    }

    .badge {
      border-radius: 0;
    }

    #screen-meta-links .show-settings,
    .wp-core-ui .button,
    .wp-core-ui .button-primary,
    .wp-core-ui .button-secondary,
    .components-button,
    .components-form-token-field__input-container,
    .snippet-editor-sidebar .box,
    .css-13cymwt-control,
    .wrap .add-new-h2,
    .wrap .add-new-h2:active,
    .wrap .page-title-action,
    .wrap .page-title-action:active {
      border-radius: 0;
    }

    .wpforms-dash-widget .wpforms-dash-widget-settings #wpforms-dash-widget-timespan,
    .wpforms-dash-widget
      .wpforms-dash-widget-settings
      .wpforms-dash-widget-settings-container
      .wpforms-dash-widget-settings-button,
    .wpforms-admin-settings .wpforms-setting-row input[type="text"],
    .wpforms-admin-settings .wpforms-setting-row input[type="password"],
    .wpforms-admin-settings .wpforms-setting-row input[type="number"],
    .wpforms-admin-settings .wpforms-setting-row select,
    .wpforms-admin-page .wpforms-btn,
    .choices__inner,
    .plugin-card {
      border-radius: 0;
    }
  }

  body.wc-wp-version-gte-70 .select2-container .select2-selection--single,
  body.wc-wp-version-gte-53 .select2-container .select2-selection--multiple,
  body.wc-wp-version-gte-53 .select2-container .select2-selection--multiple,
  .select2-container--default .select2-selection--single,
  .select2-container--default .select2-selection--multiple {
    border-radius: 0;
  }

  .wc-wp-version-gte-70.post-type-product #postdivrich,
  .wc-wp-version-gte-70.post-type-product .postbox,
  .wc-wp-version-gte-70.post-type-shop_coupon #postdivrich,
  .wc-wp-version-gte-70.post-type-shop_coupon .postbox,
  .wc-wp-version-gte-70.post-type-shop_order #postdivrich,
  .wc-wp-version-gte-70.post-type-shop_order .postbox,
  .wc-wp-version-gte-70.woocommerce_page_wc-orders #postdivrich,
  .wc-wp-version-gte-70.woocommerce_page_wc-orders .postbox {
    border-radius: 0;
  }

  #adminmenu .code-snippets-upgrade-button .dashicons {
    line-height: 1;
  }

  .wpo_wcpdf-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin-bottom: 0;
  }

  // Redis Cache diagnostics
  #rediscache #diagnostics-pane .card {
    @include mixins.apply-font-mono;
  }

  // WPO PDF badges
  .wpo_wcpdf_badge {
    margin: 0 0.1em;
    border-radius: 2px;
  }

  // WPO PDF document settings
  .wcpdf_document_settings_sections {
    > h2 {
      margin-bottom: 0;
      border-radius: 2px;
    }
  }

  // WPO PDF preview wrapper
  #wpo-wcpdf-preview-wrapper {
    .preview-document {
      flex: 0 0 55%;
    }

    .sidebar {
      flex: 0 0 45%;

      > .settings-search {
        margin-bottom: 0;

        > input {
          border-radius: 2px;
        }
      }
    }
  }

  // WPO PDF preview wrapper - sidebar state
  #wpo-wcpdf-preview-wrapper[data-preview-states="3"][data-preview-state="sidebar"] {
    .sidebar {
      flex: 0 0 40%;
    }

    .preview-document {
      flex: 0 0 55%;
    }
  }

  // Form tables
  #wpo-wcpdf-preview-wrapper .sidebar,
  #wpo-wcpdf-settings .settings_category {
    table.form-table {
      > tbody > tr {
        padding: 1em 1em 0 !important;

        &:last-child {
          padding-bottom: 1em !important;
        }

        > th {
          padding-bottom: 0.2em;
        }

        > td {
          label {
            padding-bottom: 0.2em;
          }

          p.description {
            padding-top: 0;
          }
        }
      }

      td > * {
        margin-bottom: 0;
      }

      .wpo-wcpdf-input-wrapper > button {
        width: 46px;
        border-radius: 2px;
      }

      .select2-container .select2-search--inline .select2-search__field {
        margin-top: 0;
      }
    }
  }

  // Select2 multiple selection
  .wc-wp-version-gte-53 .select2-container .select2-selection--multiple {
    border-radius: 2px;
  }
}
