@-moz-document url-prefix("https://www.google.co.in/search"),
url-prefix("https://www.google.com/search"),
domain("mail.google.com"),
domain("gemini.google.com") {

	@include set-root-font-sans;

	.JJYS0b,
	.Ose4Jf,
	.Rj2Mlf,
	body {

		@include apply-font-sans;
	}

	body {

		a,
		div,
		p,
		span,
		li,
		input,
		button,
		textarea,
		select {

			@include apply-font-sans(true);
		}
	}
}
