@use "../mixins";

@document domain("npmjs.com") {
  @include mixins.set-root-font-sans;
  @include mixins.set-root-font-mono;

  ._452c3ec4,
  .c6c55db4,
  .cd2827bb,
  .sans-serif,
  body,
  button,
  input,
  optgroup,
  select,
  textarea {
    @include mixins.apply-font-sans(true);
  }

  :root {
    --code: var(--font-mono);
  }

  .code,
  code {
    font-family: var(--code);
  }

  ._1b8c0a9f {
    letter-spacing: 0;
  }
}
