@-moz-document domain("npmjs.com") {

	@include set-root-font-sans;
	@include set-root-font-mono;

	._452c3ec4,
	.c6c55db4,
	.cd2827bb,
	.sans-serif,
	body,
	button,
	input,
	optgroup,
	select,
	textarea {

		@include apply-font-sans(true);
	}

	:root {
		--code: var(--font-mono);
	}

	.code,
	code {
		font-family: var(--code);
	}

	._1b8c0a9f {
		letter-spacing: 0;
	}
}
