# ======================================================================
# Git Ignore
# ======================================================================
# Purpose: Ignore build artifacts, local editor files and temporary logs
# ======================================================================

# ---- Operating System ----
.DS_Store
Thumbs.db

# ---- Sass ----
.sass-cache/

# ---- Package Managers / Lockfiles ----
.npm
package-lock.json
pnpm-lock.yaml
yarn.lock

# ---- Logs ----
*.log
logs/

# ---- Caches & REPL ----
.eslintcache
.node_repl_history

# ---- Misc / Environment ----
.lock-wscript
.pnpm-debug.log
npm-debug.log
wp-cli.local.yml
yarn-error.log

# ---- Build output ----
build/
coverage/

# ---- Project dependencies ----
node_modules/

# ---- Patches ----
*.diff
*.orig
*.patch
*.rej
