# ======================================================================
# Prettier Ignore
# ======================================================================
# Purpose: Files and directories that should be excluded from Prettier
# ======================================================================

# ---- Dependencies ----
/node_modules

# ---- Lockfiles ----
package-lock.json
pnpm-lock.yaml
yarn.lock

# ---- Generated Output ----
*.user.css
