@use "../mixins";

@document domain("codewars.com") {
  @include mixins.init-root-font-aliases;

  .CodeMirror,
  .markdown code,
  .prose code,
  .prose pre code,
  code,
  kbd,
  pre,
  pre code,
  samp {
    @include mixins.apply-font-mono;
  }

  #users,
  section.user-profile {
    .company b,
    .github b,
    .honor b,
    .skills b,
    div.stat b {
      color: #fff;
      letter-spacing: 0;
    }
  }

  #partner-display,
  .ads-container {
    display: none;
  }

  .btn,
  a.btn {
    text-transform: none;
  }
}
