@-moz-document domain('github.com') {

	@include set-root-font-sans;
	@include set-root-font-mono;

	:root {
		--fontStack-monospace: var(--font-mono) !important;
		--fontStack-sansSerif: var(--font-sans) !important;
	}
}
