@-moz-document domain("standardnotes.com") {

	@include set-root-font-sans;
	@include set-root-font-mono;

	html,
	body {

		@include apply-font-sans;
	}

	:root {
		--sn-stylekit-sans-serif-font: var(--font-sans);
		--sn-stylekit-monospace-font: var(--font-mono);
	}
}
