@-moz-document url-prefix("chrome-extension://clngdbkpkpeebahjckkjfobafhncgmne")
{

	@include set-root-font-sans;
	@include set-root-font-mono;

	:root {
		--family: var(--font-sans);
		--input-height: 30px;
	}

	html {

		@include apply-font-sans;
		font-size: 14px;
	}

	body {
		font-size: 1rem;
	}

	.CodeMirror {

		@include apply-font-mono;
		font-size: 1rem;
		line-height: 1.6;
	}

	.applies-to ul {
		--input-height: 2rem;
	}

	.select-wrapper::after {
		top: 8px;
	}
}
