@document domain("opencode.ai") {
  @include set-root-font-sans;
  @include set-root-font-mono;

  :root {
    /* stylelint-disable custom-property-pattern */
    --__sl-font: var(--font-sans);
    --__sl-font-mono: var(--font-mono);
    /* stylelint-enable custom-property-pattern */
  }

  body {
    --font-sans: var(--default-sans-font), var(--default-hindi-font), var(--default-sans);
  }

  body [data-page] {
    @include apply-font-sans;
  }
}
