@-moz-document domain("paypal.com") {

	@include root-sans-font;

	._default-font_1cu9p_970,
	:root,
	div[class*="default-font"] {
		--glnv-font-family-base: var(--font-sans);
		--glnv-font-family-headline: var(--font-sans);
	}

	body {

		.textInput input,
		.textInput textarea,
		.button,
		a,
		a:link,
		a:visited,
		p,
		div,
		span,
		,
		.css-151vsl0-text_caption .css-1aq3bmv-text_heading_lg,
		h1,
		label,
		select {

			@include sans-font(true);
		}
	}
}
