@-moz-document domain("zerodha.com") {

	@include set-root-font-sans;

	body {

		@include apply-font-sans;
	}
}

@-moz-document domain("coin.zerodha.com") {

	@include set-root-font-sans;

	* {

		@include apply-font-sans;
	}
}
