/* stylelint-disable no-invalid-position-at-import-rule */
@use "variables";
@use "sass:string";

@document regexp("(.*)"), url-prefix("chrome-extension://")
{
  @import "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap";
  @import "https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap";
  @import "https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap";

  :root {
    /* Default fonts */
    --default-mono: #{string.quote(variables.$font-family-monospace)};
    --default-sans: #{string.quote(variables.$font-family-sans-serif)}, #{string.quote(variables.$font-family-emoji)};

    /* Define custom fonts */
    --default-hindi-font: "Noto Sans";
    --default-sans-font: "Bricolage Grotesque";
    --default-mono-font: "JetBrains Mono";
  }
}
