@-moz-document domain("youtube.com") {

	@include root-sans-font();

	ytd-app * {

		@include sans-font();
	}

	#content [class*="ytd-"] {

		@include sans-font(true);
	}

	.message.ytd-notification-renderer,
	.yt-tab-shape-wiz__tab,
	.ytSearchboxComponentInput {

		@include sans-font();
	}
}
