@-moz-document domain("openai.com"), domain("chatgpt.com"), domain("www.perplexity.ai"), domain("deepseek.com") {

	@include root-sans-font();
	@include root-mono-font();

	:host,
	html,
	body,
	.font-sans {

		@include sans-font();
	}

	code,
	pre,
	.font-mono {

		@include mono-font(true);
	}
}
