@-moz-document domain("openai.com"), domain("chatgpt.com"), domain("claude.ai") {

	@include fonts-group();

	:host,
	html,
	body,
	.font-sans {

		@include sans-font();
	}

	code,
	pre,
	.font-mono {

		@include mono-font(true);
	}
}
