@-moz-document regexp("^(https?:\\/\\/)?(www\\.)?(.*)(\\/(wp-admin|backoffice|wp-login\\.php)(.*))$"),
	regexp("^(https?://)(192.168.1)(.*)"),
	regexp("^https://(.*)(gpldl.com|mailtrap.io)(.*)"),
	regexp("^https://(.*)(github.com|netlify.com|nextui.org|vercel.com)(.*)"),
	regexp("^https://(.*)(discord.com|dropbox.com)(.*)"),
	regexp("^https://(.*)(vimeo.com)(.*)"),
	regexp("^https://(.*)(cloudflare.com|cloudways.com)(.*)"),
	regexp("^https://(.*)(basecamp.com|clickup.com|zipbooks.com)(.*)"),
	regexp("^https://(.*)(standardnotes.com|simplenote.com)(.*)"),
	regexp("^https://(.*)(cpsess)(.*)"),
	domain("127.0.0.1") {

	@include fonts-group();

	// Apply font to various elements
	html,
	body,
	a,
	#wpadminbar *,
	body.wpallimport-plugin {

		@include sans-font();
	}

	// Headings
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		@include sans-font();
	}

	// Code Blocks
	.code,
	code {

		@include mono-font();
	}

	// Buttons and Inputs
	.button,
	input,
	select,
	textarea {

		@include sans-font();
	}

	// Navigation
	#primary-navigation li,
	#primary-navigation li a {

		@include sans-font();
	}

	// Content Blocks
	.comment-bar__send-btn,
	.cron-job-tab2 h4,
	.single-title,
	.widget .widget-title {

		@include sans-font();
	}

	// Text and Typography
	.markdown-body,
	.md-subheader,
	.ql-container {

		@include sans-font();
	}

	// Media and UI Elements
	.yith-plugin-ui,
	.media-frame,
	.media-modal {

		@include sans-font();
	}

	// Elements with Specific Class Patterns
	[class*="c_"],
	[class*="tinvwl-"],
	[class*="tinv-"],
	[class*="tinvwl-"] *,
	[class*="tinv-"] * {

		@include sans-font();
	}

	// Maestro Styles
	.maestro {

		body:not(.dig-Button),
		input:not(.dig-Button),
		textarea:not(.dig-Button),
		select:not(.dig-Button),
		button:not(.dig-Button),
		.normal:not(.dig-Button) {

			@include sans-font();
		}
	}

	// Style for CodeMirror
	.qm code,
	.qm pre {

		@include mono-font(true);
	}

	// CodeMirror style
	.cm-s-darcula.CodeMirror,
	.CodeMirror {

		@include mono-font();
	}

	// Markdown code formatting
	.markdown-body {

		code,
		pre {

			@include mono-font();
		}

		pre > code {
			white-space: pre-wrap;
		}

		ol,
		ul {

			ol {

				list-style-type: numerial;
			}
		}
	}

	// Simplenote app fonts
	.simplenote-app {

		* {

			@include sans-font();
		}

		code,
		code * {

			@include mono-font();
		}
	}
}

@-moz-document url-prefix("https://www.bluehost.com") {

	@include fonts-group();

	// Apply font to various elements
	body {

		@include sans-font();
	}

	// Bluehost fonts
	.mat-h1,
	.mat-h3,
	.mat-headline,
	.mat-subheading-2,
	.mat-typography,
	.mat-typography h1,
	.mat-typography h3,
	#hosting-app {

		@include sans-font();
	}
}

@-moz-document domain("reddit.com"),
	domain("quora.com"),
	domain("acharyaprashant.quora.com") {

	@include fonts-group();

	// Apply font to various elements
	body {

		@include sans-font();
	}
}

@-moz-document domain("apple.com") {

	@include fonts-group();

	body,
	.content-post .body .post-content .title,
	.content-post .body .post-content .post-body,
	.page .locked-thread,
	#globalnav .globalnav-link {

		@include sans-font();
	}
}

@-moz-document domain("veganprofile.com") {

	@include root-sans-font();

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p,
	span,
	div,
	a,
	li {

		@include sans-font();
	}
}

@-moz-document domain("abplive.com") {

	@include root-sans-font();

	html:root {
		--primary-font: var(--font-sans);
	}
}

@-moz-document domain("google.co.in") {

	@include root-sans-font();

	body,
	.Ose4Jf,
	.JJYS0b,
	.Rj2Mlf {

		@include sans-font();
	}
}
