@-moz-document regexp("^(https?:\\/\\/)?(www\\.)?(.*)(\\/(wp-admin|backoffice|wp-login\\.php)(.*))$"),
	regexp("^(https?://)(192.168.1)(.*)"),
	regexp("^https://(.*)(mailtrap.io)(.*)"),
	regexp("^https://(.*)(netlify.com|nextui.org|vercel.com)(.*)"),
	regexp("^https://(.*)(discord.com|dropbox.com)(.*)"),
	regexp("^https://(.*)(vimeo.com)(.*)"),
	regexp("^https://(.*)(cloudflare.com|cloudways.com)(.*)"),
	regexp("^https://(.*)(basecamp.com|clickup.com|zipbooks.com)(.*)"),
	regexp("^https://(.*)(cpsess)(.*)"),
	domain("127.0.0.1") {

	@include init-root-font-aliases();

	// Apply font to various elements
	html,
	body,
	a,
	#wpadminbar *,
	body.wpallimport-plugin {

		@include apply-font-sans;
	}

	// Headings
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {

		@include apply-font-sans;
	}

	// Code Blocks
	.code,
	code {

		@include apply-font-mono;
	}

	// Buttons and Inputs
	.button,
	input,
	select,
	textarea {

		@include apply-font-sans;
	}

	// Navigation
	#primary-navigation li,
	#primary-navigation li a {

		@include apply-font-sans;
	}

	// Content Blocks
	.comment-bar__send-btn,
	.cron-job-tab2 h4,
	.single-title,
	.widget .widget-title {

		@include apply-font-sans;
	}

	// Text and Typography
	.markdown-body,
	.md-subheader,
	.ql-container {

		@include apply-font-sans;
	}

	// Media and UI Elements
	.yith-plugin-ui,
	.media-frame,
	.media-modal {

		@include apply-font-sans;
	}

	// Elements with Specific Class Patterns
	[class*="c_"],
	[class*="tinvwl-"],
	[class*="tinv-"],
	[class*="tinvwl-"] *,
	[class*="tinv-"] * {

		@include apply-font-sans;
	}

	// Maestro Styles
	.maestro {

		body:not(.dig-Button),
		input:not(.dig-Button),
		textarea:not(.dig-Button),
		select:not(.dig-Button),
		button:not(.dig-Button),
		.normal:not(.dig-Button) {

			@include apply-font-sans;
		}
	}

	// Style for CodeMirror
	.qm code,
	.qm pre {

		@include apply-font-mono(true);
	}

	// CodeMirror style
	.cm-s-darcula.CodeMirror,
	.CodeMirror {

		@include apply-font-mono;
	}

	// Markdown code formatting
	.markdown-body {

		code,
		pre {

			@include apply-font-mono;
		}

		pre > code {
			white-space: pre-wrap;
		}

		ol,
		ul {

			ol {
				list-style-type: numerial;
			}
		}
	}

	// Simplenote app fonts
	.simplenote-app {

		* {

			@include apply-font-sans;
		}

		code,
		code * {

			@include apply-font-mono;
		}
	}
}
