@-moz-document regexp("(.*)"), url-prefix("chrome-extension://")
{

	@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400..700&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap");

	:root {

		/* Default fonts */
		--default-mono: #{$font-family-monospace};
		--default-sans: #{$font-family-sans-serif}, #{$font-family-emoji};

		/* Define custom fonts */
		--geist-font: "Geist Mono";
		--noto-sans-font: "Noto Sans";
		--bricolage-font: "Bricolage Grotesque";
		--default-hindi-font: var(--noto-sans-font);
		--default-sans-font: var(--bricolage-font);
		--default-mono-font: var(--geist-font);
	}
}
