@-moz-document regexp("(.*)"),
url-prefix("chrome-extension://")
{

	@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400..700&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300..700&display=swap");
	//@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Hind:wght@400;500;700&display=swap");

	:root {

		/* Default fonts */
		--default-mono: #{$font-family-monospace};
		--default-sans: #{$font-family-sans-serif};

		/* Define custom fonts */
		--geist-font: "Geist Mono", var(--default-mono);
		// --parkinsans-font: "Parkinsans", "Hind", var(--default-sans);
		--outfit-font: "Outfit", "Hind", var(--default-sans);
		--default-font: var(--outfit-font);
		--default-sans-font: var(--default-font);
		--default-mono-font: var(--geist-font);
	}
}
