@-moz-document domain("md2pdf.netlify.app") {

	@include root-sans-font(space-grotesk);
	@include root-mono-font(space-mono);

	#root .markdown-body {
		padding: 10px 30px;
		font-family: var(--font-sans);

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 700;
		}

		code,
		pre {
			font-family: var(--font-mono);
		}
	}
}
