/* stylelint-disable scss/no-global-function-names */
@-moz-document domain("cra-nsdl.com") {

	@include root-sans-font();

	$gray: #ddd;
	$primary: #ca6727;
	$white: #fff;
	$black: #000;

	html {
		font-size: 16px;
	}

	*,
	body * {

		@include sans-font(true);
	}

	body,
	p,
	td {
		font-size: 1rem;
	}

	#page_wrapper {
		width: 1200px;
		max-width: 100%;
	}

	.page,
	#page_wrapper > div > header > div {
		box-shadow: none !important;
	}

	.example1 {
		margin-bottom: 15px;
		border-bottom: 1px solid $gray;

		h3 {
			line-height: 40px;
		}
	}

	#page_wrapper > div > table > tbody > tr:nth-child(1) > td > div.row.px-3 {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	ul.todoPoint {
		margin: 0;

		li {
			display: flex;
			align-items: center;
			margin-bottom: 1rem;
			padding: 0.5rem;
			border: 1px solid $gray;
			gap: 8px;

			p {
				margin: 0 !important;
				font-size: 1.125rem !important;
				font-weight: 700;
			}
		}
	}

	.shadow-element,
	.shadow-sm {
		height: auto;

		border-radius: 0;
		box-shadow: none !important;
	}

	.shadow-element {
		border: 0 !important;
	}

	.rounded {
		border-radius: 0;
	}

	.CRA-loginForm {
		padding: 0;
		padding-right: calc(var(--bs-gutter-x) * 0.5);
		padding-left: calc(var(--bs-gutter-x) * 0.5);

		> .p-2 {
			padding: 0.75rem 1.5rem !important;
		}
	}

	#page_wrapper
		> div
		> table
		> tbody
		> tr:nth-child(1)
		> td
		> div.row.px-3
		> div.col-sm.CRA-loginForm
		> div:nth-child(1)
		> div:nth-child(1),
	#pass > form > div:nth-child(4) {
		margin: 0 !important;
		margin-bottom: 1rem !important;
		text-align: left !important;

		> p {
			margin: 0 !important;
			padding: 0 !important;
			font-size: 1.75rem !important;
			font-weight: 700;
		}
	}

	form {

		input[type="button"],
		input[type="submit"],
		input[type="reset"] {
			cursor: pointer;
		}

		input[type="text"],
		input[type="email"],
		input[type="number"],
		input[type="search"],
		input[type="password"],
		input,
		select {
			width: 100%;
			padding: 0.625rem 0.75rem;
			border: 1px solid $gray;
			font-size: 1em;
		}

		input[type="radio"] {
			cursor: pointer;

			+ label {
				cursor: pointer;
			}
		}

		.row {
			margin: 0 !important;
			margin-bottom: 1rem !important;

			> * {
				flex: none;
				width: 100%;
				padding: 0 !important;
			}

			> table {
				width: auto;
			}

			.rdolbl {
				margin-left: 0 !important;
			}

			.col-4,
			.col-6,
			.col-8 {
				margin: 0 !important;
				font-size: 0.85rem !important;
				font-weight: 600;
				text-align: left !important;

				span {
					font-size: inherit !important;
				}
			}
		}

		table > tbody > tr:nth-child(1) > td:nth-child(1) {
			padding-left: 0 !important;
			font-size: inherit !important;
			text-align: left !important;
		}

		.shadow-element {
			margin: 0;

			ul {
				padding: 0 !important;
				list-style-position: inside;

				li {
					padding-left: 1rem !important;
				}
			}
		}

		.submitbutton {
			display: flex;
			align-items: center;
			justify-content: center;
			min-width: 150px;
			margin: 0;
			margin: 0 auto;
			border-radius: 0;
			font-size: 1rem;
			font-weight: 600;
			text-align: center;

			&:hover {
				background-color: darken($primary, 5%);
			}
		}
	}

	.table-border {
		padding: 1rem;
		border-radius: 0;
		box-shadow: none !important;
	}

	.table-border > tbody > {

		tr:nth-child(2),
		tr:nth-child(3),
		tr:nth-child(4) {

			> td:nth-child(1) {
				padding-left: 0 !important;
			}
		}
	}
}
