@-moz-document domain("zerodha.com") {

	@include root-sans-font();

	body {

		@include sans-font();
	}
}

@-moz-document domain("coin.zerodha.com") {

	@include root-sans-font();

	* {

		@include sans-font();
	}
}
