@-moz-document domain("google.co.in"), domain("google.com") {

	@include root-sans-font();

	.JJYS0b,
	.Ose4Jf,
	.Rj2Mlf,
	body {

		@include sans-font();
	}

	body {

		a,
		div,
		p,
		span,
		li,
		input. button,
		textarea,
		select {

			@include sans-font(true);
		}
	}
}
