@-moz-document domain("jscompress.com") {

	@include set-root-font-sans;
	@include set-root-font-mono;

	body,
	button,
	input,
	.button {

		@include apply-font-sans;
	}

	textarea {

		@include apply-font-mono;
		line-height: 1.6;
	}
}
