@-moz-document domain("md2pdf.netlify.app") {

	@include set-root-font-sans;
	@include set-root-font-mono;

	.hLjMun {

		@include apply-font-sans;
	}

	.CodeMirror {

		@include apply-font-mono(true);
		font-size: 0.75rem;
	}

	#root .markdown-body {

		@include apply-font-sans;
		padding: 1rem 1.5rem;
		font-size: 1rem;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 700;
		}

		code,
		pre {

			@include apply-font-mono;
		}
	}
}
