@-moz-document domain("textfixer.com") {

	@include root-sans-font();

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	body,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	input,
	select,
	textarea,
	button,
	#menu li {

		@include sans-font();
	}

	body {
		font-size: 14px;
		letter-spacing: 0;
		line-height: 1.6;
	}

	textarea {
		width: 100%;
		padding: 8px 12px;
	}

	.button,
	input,
	select,
	textarea {
		border: 1px solid #e3e3e3;
		border-radius: 0;
		outline: none;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 1.6;
	}

	p {
		margin-top: 0;

		&:not(:last-child) {
			margin-bottom: 8px;
		}
	}

	#content {

		> h1,
		> p:nth-child(1),
		> p:nth-child(2),
		> p:nth-child(3),
		> p:nth-child(4),
		> p:nth-child(5),
		> p:nth-child(6) {
			display: none !important;
		}
	}

	.online-tools {
		margin-top: 30px;
		padding: 5px 15px;
		border-radius: 0;

		> h3 {
			margin-top: 0;
			margin-bottom: 8px;
		}
	}

	.frmbtn,
	.rstbtn,
	.subbtn,
	.actbtn {
		margin: 0 0 8px 0;
		padding: 8px 22px;
		border: 0;
		border-radius: 0;
		font-size: 14px;
		letter-spacing: 0;
		line-height: 1.6;
	}

	.ftable {

		h3 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.tools {
		margin-top: 10px;
		margin-bottom: 10px;

		li {
			margin-bottom: 0;
		}
	}

	.adthrive-placeholder-video,
	.adthrive-placeholder-header,
	.socialShareBar,
	#ftr {
		display: none !important;
	}
}
