@-moz-document regexp("(.*)"),
	url-prefix("chrome-extension://clngdbkpkpeebahjckkjfobafhncgmne"),
	url-prefix("chrome-extension://hdokiejnpimakedhajhdlcegeplioahd") {

	@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");

	:root {

		/* Default fonts */
		--default-mono: #{$font-family-monospace};
		--default-sans: #{$font-family-sans-serif};

		/* Define custom fonts */
		--ibm-plex-font: "IBM Plex Mono", system-ui;
		--poppins-font: "Poppins", "Hind", sans-serif;
		--lexend-font: "Lexend", "Hind", sans-serif;
		--parkinsans-font: "Parkinsans", "Hind", sans-serif;
	}
}
