@-moz-document regexp("(.*)"),
	url-prefix("chrome-extension://clngdbkpkpeebahjckkjfobafhncgmne") {

	@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Federo&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap");

	:root {

		/* Default fonts */
		--default-mono: #{$font-family-monospace};
		--default-sans: #{$font-family-sans-serif};

		/* Define custom fonts */
		--courier-prime-font: "Courier Prime", monospace;
		--federo-font: "Federo", sans-serif;
		--josefin-sans-font: "Josefin Sans", sans-serif;
		--poppins-font: "Poppins", sans-serif;
	}
}
