@-moz-document regexp("(.*)"),
url-prefix("chrome-extension://")
{

	@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap");
	@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap");
	@import url("https://api.fontshare.com/v2/css?f[]=general-sans@200,201,300,301,400,401,500,501,600,601,700,701,1,2&display=swap"rel="stylesheet");

	:root {

		/* Default fonts */
		--default-mono: #{$font-family-monospace};
		--default-sans: #{$font-family-sans-serif};

		/* Define custom fonts */
		--ibm-plex-font: "IBM Plex Mono", system-ui;
		--parkinsans-font: "Parkinsans", "Hind", sans-serif;
		--general-sans-font: "General Sans", "Hind", sans-serif;
		--default-font: var(--general-sans-font);
	}
}
